@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
	box-sizing: border-box;
}
:root {
	/* Primary */
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	/* Neutral */
	--dark-gray-magenta: hsl(303, 10%, 53%);
	--light-gray-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	/* min-width: 100vw; */
	font-size: 15px;
	font-family: "Spartan", sans-serif;
	background: var(--white);
	background-size: 100%;
	overflow-x: hidden;

	/* background-image: url(../images/bg-pattern-top-mobile.svg); */
	/* background-repeat: no-repeat;
    background-position: top left; */
}
.main-wrapper {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;

	z-index: -1;
	margin: 0 auto;
}
.main-wrapper::after,
.main-wrapper::before {
	position: absolute;
	content: "";
	width: 100vw;
	height: 100vh;
	background-size: contain;

	z-index: -1;
}
.main-wrapper:before {
	top: 0;
	left: 0;
	z-index: -1;
	background: url(../images/bg-pattern-top-mobile.svg) no-repeat top left;
}

.main-wrapper:after {
	content: "";
	background: url(../images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;

	bottom: 0;
	right: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "intro" "stars" "reviews";
	grid-gap: 1.5rem;
	gap: 1.5rem;
	max-width: 600px;
}
.title-container {
	text-align: center;
}
h1.title {
	color: var(--very-dark-magenta);
	font-size: 2.5rem;
	line-height: 1.15;
	margin: 0 auto;
	margin-top: 1.5rem;
	max-width: 16ch;
}
.info {
	color: var(--dark-gray-magenta);
	font-size: 0.9375rem;
	line-height: 1.5;
	max-width: 35ch;
	margin: 0 auto;
	margin-top: 1.5rem;
	font-weight: 400;
}
.review-ratings {
	grid-area: stars;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
}
.ratings {
	background-color: var(--light-gray-magenta);
	border-radius: 0.5rem;

	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
	justify-content: center;
	align-items: center;
	width: calc(100% - 2rem);
}

.ratings > p.rating-title {
	color: var(--very-dark-magenta);

	font-weight: 700;
}

.reviews {
	grid-area: reviews;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem;
}

.reviews > .user-review {
	background-color: var(--very-dark-magenta);
	border-radius: 0.5rem;

	padding: 2rem;
}

.user-image {
	border-radius: 5rem;
	border-radius: 5rem;
	width: 3rem;
	height: 3rem;
}
.user-details {
	align-items: center;
	gap: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.user-details p.user-name {
	text-align: left;
	font-weight: 700;
	padding: 0.5rem;
	color: var(--white);
	margin: 0;
}
.user-details p.user-name span.user-desc {
	color: var(--soft-pink);
	font-weight: 500;
}
span.user-desc::before {
	content: "\A";
	white-space: pre;
	margin-top: -10px;
	display: block;
}
p.review {
	text-align: left;
	margin: 0;
	margin-top: 1.5rem;
	color: var(--white);
	font-size: 0.735rem;
	font-weight: 400;
	line-height: 1.3rem;
}

.rating-title {
	margin: 0;
	text-align: left;
	margin-inline-start: 1rem;
	font-size: 0.875rem;
}

@media only screen and (min-width: 900px) {
	.main-wrapper:before {
		background: url(../images/bg-pattern-top-desktop.svg) no-repeat top left;
	}

	.main-wrapper:after {
		background: url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom
			right;
	}
	h1.title {
		text-align: left;
		margin-top: 5rem;
	}
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "intro stars" "reviews reviews";
		margin: 0 auto;
		max-width: none;
		grid-row-gap: 4rem;
	}
	.title-container {
		grid-area: intro;
		text-align: left;
		width: 30ch;
	}
	.title-container .title {
		max-width: 11ch;
	}
	.title-container .info {
		max-width: 27ch;
	}
	.review-ratings {
		align-items: flex-start;
	}

	.ratings {
		width: calc(100% - 4rem);
		max-width: none;
		flex-direction: row;
		padding: 1rem;
	}

	.reviews {
		grid-area: reviews;
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}
	.reviews > .user-review {
		width: 17vw;
	}
	.ratings:nth-of-type(2) {
		margin-left: 2rem;
	}

	.user-review:last-of-type {
		margin-top: 3rem;
		margin-bottom: -3rem;
	}

	.user-review:nth-of-type(2) {
		margin-top: 1.5rem;
		margin-bottom: -1.5rem;
	}
	.ratings:last-child {
		margin-left: auto;
	}
	.ratings:nth-of-type(2) {
		margin-left: 2rem;
	}

	.user-review:last-of-type {
		margin-top: 3rem;
		margin-bottom: -3rem;
	}
}
